.portfolio {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.portfolio__title {
  font-style: normal;
  font-weight: 400;
  color: #8B8B8B;
  line-height: 20px;
}

.portfolio__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.portfolio__link {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  background: url(../../images/arrow.svg) no-repeat;
}

.portfolio__link:hover {
  opacity: 0.7;
}

.portfolio__link_underlined {
  border-bottom: 1px solid #E6E6E6;
}

@media screen and (max-width: 599px) {
  .portfolio {
    width: 90.3%;
  }

  .portfolio__title {
    margin: 0 0 20px;
    font-size: 14px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
    height: 68px;
    background-size: 18px;
    background-position: right center;
  }
}

@media screen and (min-width: 600px) {
  .portfolio__title {
    margin: 0 0 30px;
    font-size: 18px;
  }

  .portfolio__link {
    line-height: 50px;
    height: 90px;
    background-position: right 4px bottom 33px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .portfolio {
    max-width: 87%;
  }

  .portfolio__link {
    font-size: 28px;
    background-size: 18px;
  }
}

@media screen and (min-width: 1023px) {
  .portfolio {
    width: 89%;
  }

  .portfolio__link {
    font-size: 30px;
    background-size: 18px;
  }
}