.movies__content {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .movies__content {
    width: 89%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .movies__content {
    width: 92.9%;
  }
}

@media screen and (min-width: 1024px) {
  .movies__content {
    width: 89%;
  }
}