.search-form__content {
  margin: 0 auto;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #424242;
}

.search-form__search-area {
  display: flex;
  align-items: center;
}


@media screen and (max-width: 767px) {
  .search-form__content {
    padding: 80px 0 48px;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .search-form__search-area {
    min-height: 72px;
    background: #222222;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
    border-radius: 9px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .search-form__content {
    padding: 80px 0 110px;
  }
}

@media screen and (max-width: 1023px) {}

@media screen and (min-width: 1024px) {
  .search-form__content {
    padding: 70px 0;
  }
}