.nav-tab__content {
  width: 100%;
  min-height: 66px;
  background-color: #272727;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-tab__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-tab__link {
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: #FFFFFF
}

.nav-tab__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 374px) {
  .nav-tab__navigation {
    width: 214px;
  }

  .nav-tab__link {
    font-size: 11px;
  }
}

@media screen and (min-width: 375px) {
  .nav-tab__navigation {
    width: 276px;
  }

  .nav-tab__link {
    font-size: 13px;
  }
}